.row, .col, .container {
    border: 1px solid black;
    box-sizing: border-box;
}

.container {
    width: 50%;
}

.col {
    display: inline-block;
    width: 6.25%;
    padding-top: 6.25%;
}

.row {
    
}